@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus lorem quis arcu varius, eu laoreet purus volutpat. Fusce vulputate commodo lacus sed ultrices.</p>
</div>
